<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>

<section class="new_link">
  <%= link_to 'New Rental', new_rental_path %>
</section>

<table>
  <thead>
    <tr>
      <th>Driver</th>
      <th>Car</th>
      <th>Start</th>
      <th>End</th>
      <th>End by</th>
      <th>Late fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr class="rental_row" data-id=<%=rental.id %>>
        <td><%= rental.driver.name %></td>
        <td><%= rental.car.name %></td>
        <td><%= rental.start %></td>
        <td><%= rental.ended %></td>
        <td><%= rental.end_by %></td>
        <td><%= rental.late_fee %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><button class="destroy"><%= 'Destroy'%></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
