<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<section class="new_link">
  <%= link_to 'New Car', new_car_path %>
</section>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Mileage</th>
      <th>Color</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.id %></td>
        <td><%= car.name %></td>
        <td><%= car.brand %></td>
        <td><%= car.mileage %></td>
        <td style="background: <%= car.color %>;"></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
